/* Normalize */

* {  margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

:root {
    /* Colors */
    --primary: #e0e0e0;
    --secondary: #E5E5E5;
    --text-color: #2b2b2b;
   
    /* Spacing */
    --spacing-large: 4.8rem;
    --spacing-medium: 2.4rem;
    --spacing-small: 2rem;
    --spacing-xsmall:1rem;

    /* Font-family*/
    --font-principal: 'Amiko', sans-serif;
    --font-title: 'Qualy';

    /* Font-sizes*/
    --text-large: 4.8em;
    --text-medium: 2.4em;
    --text-small: 2em;
    --text-xsmall: 1em;

}

/* Fonts */

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-principal);
}

ul {
    list-style-type: none;
}

li a {
    font-family: var(--font-title);
    list-style-type: none;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid black;
    background-color: rgb(255, 232, 232);
    transition:all  1s;
}

img {
    width: 100%;
}

/* Normalize end */

/*Index-start*/

/*Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary);
    border: 3px solid black;
}

picture a img {
    max-width: 200px;
    min-width: 100px;
    align-self: flex-start;
    margin: 1rem 20rem 1rem 3rem;
   
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 1em

}
   
.menu__link{
    display: block;
    padding: 10px 15px;
}


.menu__item{
    list-style-type: none;
    text-decoration-line: none;
    font-size: 16px;


}

.menu__item :hover{
    background-color: var(--text-color);
    color: #E5E5E5;
    
}
@media screen and ( max-width: 800px){

    
    header {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    border: 3px solid black;
    align-items: center;
    }

    picture {
    max-width: 150px;
    margin-right: 70px;
    }
    .banner {
    margin-bottom: 10px;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }  
    picture a img {
        max-width: 200px;
        min-width: 100px;
        align-self: center;
        margin: 1rem 3rem;
    }
}



/* Header-end*/

/*Banner*/



.container__item{
    color: white;
    width: 50rem;
    display: block;
    margin-right: 550px;
    background-color: black;
    position: relative;
    bottom: 48rem;
    left: 11rem;
    padding: 5px;
    font-size: var(--text-medium);
    border-radius: 5px;
    font-family: var(--font-principal);
}

.container__img {
    transition:all .5s ease-in-out;
}

.container__img:hover{   
    filter: saturate(120%);
}

/*Banner-end*/


/*Hilights*/
.grilla{
    max-width: 1200px;
    margin: 0 auto;
}

.highlights{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "highlights__title highlights__title highlights__title"
    "highlights-est highlights-pal highlights-pos"
    "highlights-title-est highlights-title-pal highlights-title-pos"
    "highlights-txt-est highlights-txt-pal highlights-txt-pos";
    grid-gap: 1rem;
    align-items: start;
    justify-items: center;
}


.highlights__title{
    font-size: 50px;
    text-align: center;
    margin: 0 auto var(--spacing-medium);
    font-family: var(--font-title);
    grid-area: highlights__title;
    
}   

.highlights-est{
    grid-area: highlights-est;
    margin-left: 6rem;
    max-width: 320px;
}
.highlights-pal{
    grid-area: highlights-pal;
    max-width: 320px;
    margin: auto;
}
.highlights-pos{
    grid-area: highlights-pos;
    margin-right: 6rem;
    max-width: 320px;
}
.highlights-title-est{
    grid-area: highlights-title-est;
    margin-left: 6rem;
}
.highlights-title-pal{
    grid-area: highlights-title-pal;
    margin: 0 auto;
}
.highlights-title-pos{
    grid-area: highlights-title-pos;
    margin-right: 6rem;

}
.highlights-txt-est{
    grid-area: highlights-txt-est;
    margin-left: 6rem;
}
.highlights-txt-pal{
    grid-area: highlights-txt-pal;
    margin: 0 auto;
}
.highlights-txt-pos{
    grid-area: highlights-txt-pos;
    margin-right: 6rem;

}


.highlights__item{
    border-radius: 16px;
    border: 1px solid black;
    box-shadow: 3px 3px grey;
    transition:all .5s ease-in-out;
}
.highlights__item:hover{
    filter: saturate(180%);
}

.highlights__text{
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
}

.highlights__subtitle{
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}

@media screen and ( max-width: 800px){
    .highlights-txt-pos {
        margin-left: 6rem;
    }
    .highlights__subtitle {
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        text-align: center;
        margin: 20px 0;
    }
    
    .highlights__subtitle {
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        text-align: center;
        margin: 20px 0;
    }
    .highlights-pal {
        max-width: 320px;
        margin: auto;
    }
    .highlights__subtitle {
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        text-align: center;
        margin: 20px 0;
    }
       

    .highlights__title {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
   
    font-family: var(--font-title);
   
    }

    .highlights{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .highlights-pos {
        margin-left: 6rem;
        max-width: 320px;
    }
    .highlights-est {
        max-width: 320px;
        margin: 0 auto;
    }
} 

/*Hilights-end*/


/*Box*/

.box{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 48px;
   

}

.box-bar-primary{
    grid-column: 1 / 9;
    width: 800px;

}
.box-bar-secondary{
    grid-column: 5 / 12;
    grid-row: 9;
    width: 800px;
}

.box-banner{
    grid-column: 1 / 7;
    grid-row: 2 / 8;
}

.box-gear-primary{
    grid-column: 7 /8 ;
    grid-row: 2;
    margin-top: 10px;
    margin-left: 80px; 
}

.box-title-primary{
    grid-column: 8 / 11;
    grid-row: 2;
    margin-top: 10px;
}

.box-txt-primary{
    grid-column: 8 / 11;
    grid-row: 3;
    
}

.box-gear-secondary{
    grid-column: 7 /8 ;
    grid-row: 4;
    margin-left: 80px; 
}

.box-title-secondary{
    grid-column: 8 / 11;
    grid-row: 4;
}

.box-txt-secondary{
    grid-column: 8 / 11;
    grid-row: 5;
}

.box-gear-tertiary{
    grid-column: 7 /8 ;
    grid-row: 6;
    margin-left: 80px; 
}

.box-title-tertiary{
    grid-column: 8 / 11;
    grid-row: 6;
}

.box-txt-tertiary{
    grid-column: 8 / 11;
    grid-row: 7;
}



.box__title{
    text-align: center;
    
}

.box__text{
    font-size: 12px;
    text-align: center;
    color: rgb(103, 103, 103);
    margin: 16px;
    
}

.box__img--gear{
    max-width: 20px;
}

@media screen and ( max-width: 1100px){

    .box{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 48px;
     }
       
    .box-gear-primary {
        grid-column: 1 /7;
        grid-row: 11;
        margin-top: 10px;
        margin-left: 80px;
    }
    .box-title-primary {
        grid-column: 1 / 7;
        grid-row: 11;
        margin-top: 10px;
    }
    .box-txt-primary {
        grid-column: 1 / 7;
        grid-row: 12;
    }
    .box-gear-secondary {
        grid-column: 1 / 7;
        grid-row: 14;
        margin-left: 80px;
    }
    .box-title-secondary {
        grid-column: 1 / 7;
        grid-row: 14;
        margin-top: 10px;
    }
    .box-txt-secondary {
        grid-column: 1 / 7;
        grid-row: 15;
    }
    .box-gear-tertiary {
        grid-column: 1 /7;
        grid-row: 16;
        margin-left: 80px;
    }
    .box-title-tertiary {
        grid-column: 1 / 7;
        grid-row: 16;
    }
    .box-txt-tertiary {
        grid-column: 1 / 7;
        grid-row: 17;
    }
    .box-bar-secondary {
        grid-column: 3 / 7;
        grid-row: 18;
        width: 800px;
    }

}
@media screen and ( max-width: 800px){
    
    .box-bar-secondary {
    grid-column: 1 / 7;
    grid-row: 18;
    max-width: 320px;
   }
   .box-txt-tertiary {
    grid-column: 1 / 7;
    grid-row: 17;
    }
    .box-title-tertiary {
    grid-column: 1 / 7;
    grid-row: 16;
    font-size: 12px;
    }
    .box-gear-tertiary {
        grid-column: 1 /7;
        grid-row: 16;
        margin-left: 58px;
    }
    .box-txt-secondary {
        grid-column: 1 / 7;
        grid-row: 15;
    }
    .box-title-secondary {
        grid-column: 1 / 7;
        grid-row: 14;
        font-size: 12px;
    }
    .box-gear-secondary {
        grid-column: 1 / 7;
        grid-row: 14;
        margin-left: 16px;
    }
    .box-txt-primary {
        grid-column: 1 / 7;
        grid-row: 12;
    }
    .box-title-primary {
        grid-column: 1 / 7;
        grid-row: 11;
        margin-top: 10px;
        font-size: 11px;
    }
    .box-gear-primary {
        grid-column: 1 /7;
        grid-row: 11;
        margin-top: 10px;
        margin-left: 5px;
    }
    .box-banner {
        grid-column: 1 / 7;
        grid-row: 2 / 8;
        max-width: 320px;
    }
    .box-bar-primary {
        grid-column: 1 / 9;
        max-width: 320px;
    }
    .box {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 48px;
    }
}
/*Box-end*/

/*Marcas*/

.marcas__img{
    width: 100%;

}

.marcas__title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    padding: 30px;
    color: lightslategrey;
}

@media screen and ( max-width: 800px){

    .marcas__title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 15px;
        color: lightslategrey;
    }
}
/*Marcas-end*/

/*Endpage*/


.end-page{
    display: flex;
    background-color: var(--secondary);
    border: 3px solid #2b2b2b;
    height: 100px;
    align-items: center;
   
}

.end-page__text{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 200px;
    
    
}
.end-page__item{
    font-style: italic;
    font-size: 18px;
}

.end-page__img{
    max-width: 150px;
    max-height: 50px;
}

.end-page__img--modifier{
    margin-left: 200px;
}

.end-page__img--logo{
    margin-right: 100px;

}

@media screen and ( max-width: 1100px){
.end-page__item{
    font-style: italic;
    font-size: 10px;
}

.end-page__text{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.end-page__img--modifier{
    margin-left: 20px;
}
} 

@media screen and ( max-width: 800px){

    .end-page__img--logo {
        max-width: 80px;
    }
    .end-page__img--modifier {
        max-width: 80px;
    }
    .end-page__text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .end-page {
        display: flex;
        background-color: var(--secondary);
        border: 3px solid #2b2b2b;
        height: 50px;
        align-items: center;
    }
    .end-page__item {
        font-style: italic;
        font-size: 0.1em;
    }
}

/*Endpage-end*/


/*Index-end*/

/*Empresa-start*/


.empresa{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3 1fr);
    align-items: center;
}

.empresa__img-eng{
    grid-column: 1 / 8;
}
.empresa__text-primary{
    grid-column: 8 / 12;
}
.empresa__img-log{
    grid-column: 6 / 13;
    grid-row: 2;
}
.empresa__text-secondary{
    grid-column: 2 / 7;
    grid-row: 2;
}
    
.empresa__img-vis{
    grid-column: 1 / 8;
    grid-row: 3;
}
.empresa__text-tertiary{
    grid-column: 7 / 12;
    grid-row: 3;
}
.empresa__text{
    font-style: italic;
    font-size: 24px;
    text-align: center;
}

.empresa__img{
    width: 100%;
    
}
@media screen and ( max-width: 600px){
    
    .empresa__text {
        font-style: italic;
        text-align: center;
        font-size: 10px;
    }
}
/*Empresa-end*/

/*Contacto-start*/
.title__text{
    text-align: center;
    text-shadow: 3px solid grey;
    font-style: normal;
    font-size: 50px;
    font-weight: bold;
    margin: 40px;
    padding: 40px;
}
/*Contacto-end*/

/*Servicios-start*/

.product{
    text-align: center;
    font-size: 16px;
   margin: 30px;
   padding: 30px;

}

/*Servicios-end*/