/*FOOTER*/
.end-page{
    @include flex(row,space-evenly,center,0);
    background-color: $secondary;
    border: 3px solid #2b2b2b;
    height: 100px;
    &__item{
        font-style: italic;
        font-size: 16px;
    }
    
    &__img{
    @include flex(row,center,flex-start,0);
    max-width: 200px;
    }

   
}
/*FOOTER-END*/



