/*EMPRESA*/
.empresa{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3 1fr);
    align-items: center;
    font-family: $font-principal;

    
    &__img-eng{
    grid-column: 1 / 8;
    }
    &__text-primary{
    grid-column: 8 / 12;
    }
    &__img-log{
    grid-column: 6 / 13;
    grid-row: 2;
    }
    &__text-secondary{
    grid-column: 2 / 7;
    grid-row: 2;
    }
    
    &__img-vis{
    grid-column: 1 / 8;
    grid-row: 3;
    }
    &__text-tertiary{
    grid-column: 7 / 12;
    grid-row: 3;
    }
    &__text{
    font-style: italic;
    font-size: 24px;
    text-align: center;
    }

    &__img{
    width: 100%;

    }

}
/*EMPRESA-END*/