/*Mediaquery*/

    @media screen and (max-width: 800px){
    
    header {
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    border: 3px solid black;
    align-items: center;

        nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 25px;
        }  
    }

    picture {
    max-width: 150px;
    margin-right: 70px;
    }
    .banner {
    margin-bottom: 10px;
    }
    
    picture a img {
        max-width: 200px;
        min-width: 100px;
        align-self: center;
        margin: 1rem 3rem;
    }
}

@media screen and ( max-width: 800px){
    .grilla .highlights{
        display: flex;
        flex-direction: column;
        align-items: center;

        .highlights-txt-pos {
            margin-left: 6rem;
        }
        .highlights__subtitle {
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            text-align: center;
            margin: 20px 0;
        }
        
        .highlights__subtitle {
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            text-align: center;
            margin: 20px 0;
        }
        .highlights-pal {
            max-width: 320px;
            margin: auto;
        }
        .highlights__subtitle {
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            text-decoration: underline;
            text-align: center;
            margin: 20px 0;
        }
           
    
        .highlights__title {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
       
        font-family: $font-title;
       
        }
    
       
        .highlights-pos {
            margin: auto;
            max-width: 320px;
        }
        .highlights-est {
            max-width: 320px;
            margin: auto;
        }
    }
  
} 

@media screen and ( max-width: 900px){

    .box{
        display: flex;
        margin-top: 48px;
        flex-direction: column;
    }
     
     .box__title{
        font-size: 1.5rem;  
    }
    .box__text{
        font-size: 1.2rem;   
        margin: 0 5rem;
    }
    .box__bar{
        width: 100%;
        margin: 0%;
    
    }
    

    .box__content {
        display: flex;
        grid-column: 7 / 12;
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;
    }
    .box__img--gear{
        max-width: 20px;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        margin: 0 1%;
    }
       
    

}

@media screen and ( max-width: 800px){
    picture {
        max-width: 100%;
        margin-right: 0px; 
    }
}

@media screen and ( max-width: 800px){

    .marcas__title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 15px;
        color: lightslategrey;
    }
}

@media screen and ( max-width: 1100px){
    .end-page__item{
    font-style: italic;
    font-size: 10px;
    }

    .end-page__text{
    display: flex;
    flex-direction: column;
    }

    .end-page__img{
    display: none;
    }
} 

@media screen and ( max-width: 800px){

    .btn{
        width: 15rem;
        height: 3rem;
    }
    .end-page__text {
        display: flex;
        flex-direction: column;
        font-size: 50px;
    }
    .end-page {
        display: flex;
        background-color: $secondary;
        border: 3px solid #2b2b2b;
        height: 50px;
        align-items: center;
    }
    .end-page__item {
        font-style: italic;
        font-size: 0.1em;
    }
}

@media screen and ( max-width: 800px){
    .end-page__img{
       display: none;
    }

}

@media screen and ( max-width: 600px){
    
    .empresa__text {
        font-style: italic;
        text-align: center;
        font-size: 10px;
    }
}

@media screen and ( max-width: 320px) {
    .box .box__pic .box__bar--secondary {
        margin: 0 3rem;
        width: 80%;
    }
    .box__bar{
        width: 80%;
    }
    .box__banner{
        width: 88%;
    }
    .box__content{
        width: 80%;
    }
}