/* Normalize */

* {  margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-principal;
}

img {
    width: 100%;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0) rgb(212, 255, 70);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background:  rgb(212, 255, 70);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid  rgb(212, 255, 70);
  }
/* Normalize-END */