    /*VARIABLES*/
    $primary: #e0e0e0;
    $secondary: #E5E5E5;
    $text-color: #2b2b2b;
    $spacing-large: 4.8rem;
    $spacing-medium: 2.4rem;
    $spacing-small: 2rem;
    $spacing-xsmall:1rem;
    $font-principal: 'Amiko', sans-serif;
    $font-title: 'Qualy';
    $text-large: 4.8em;
    $text-medium: 2.4em;
    $text-small: 2em;
    $text-xsmall: 1em;
    $spacings:(
      spacing-large: 4.8rem,
      spacing-medium: 2.4rem,
      spacing-small: 2rem,
      spacing-xsmall:1rem
    );
  /*VARIABLES-END*/
